<!DOCTYPE html>

{% extends "base.html" %}
{% block contenido %}
<h1><hr><hr>Valores</h1>
<ul><hr><hr>
    <li>Honestidad hacia todos los procesos y vinculaciones de la empresa. <hr><hr></li>
    <li>Confiabilidad de que el trabajo será realizado de la manera correcta y cumpliendo con las normas<hr><hr></li>
    <li>Ética laboral y profesional con nuestros clientes, personal, suplidores y el entorno.<hr><hr></li>
    <li>Integridad con nuestros negocios y con el equipo en las soluciones ofrecidas.<hr><hr></li>
    <li>Responsabilidad social hacia nuestros negocios, comunidad y medioambiente.<hr><hr></li>
  </ul>
{% endblock %}